<h1>Pirate</h1>


  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
  <h4>Height: <%= @pirate.height %> inches</h4>
<br>

<h1>Ship 1</h1>

    <h3>Name: <%= ship[0].name %></h3><br>
    <h4>Type: <%= ship[0].type %></h4><br>
    <h4>Booty: <%= ship[0].booty %></h4>
<br>

<h1>Ship 2</h1>

    <h3>Name: <%= ship[1].name %></h3><br>
    <h4>Type: <%= ship[1].type %></h4><br>
    <h4>Booty: <%= ship[1].booty %></h4>
<br>