<h1>Pirate</h1>

<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
  <h4>Height: <%= @pirate.height %> inches</h4>
</div><br>

<h1>Ship 1</h1>
<div class="ship_1">
    <p>Name: <%= ship[0].name %></p><br>
    <p>Type: <%= ship[0].type %></p><br>
    <p>Booty: <%= ship[0].booty %></p>
</div><br>

<h1>Ship 2</h1>
<div class="ship_2">
    <p>Name: <%= ship[1].name %></p><br>
    <p>Type: <%= ship[1].type %></p><br>
    <p>Booty: <%= ship[1].booty %></p>
</div><br>