<h1>Pirate</h1>

<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
  <h4>Height: <%= @pirate.height %> inches</h4>
</div><br>

<h1>Ship 1</h1>
<div class="ship_1">
    <p>Name: <%= ship.name[0] %></p><br>
    <p>Type: <%= ship.type[0] %></p><br>
    <p>Booty: <%= ship.booty[0] %></p>
</div><br>

<h1>Ship 2</h1>
<div class="ship_2">
    <p>Name: <%= ship.name[1] %></p><br>
    <p>Type: <%= ship.type[1] %></p><br>
    <p>Booty: <%= ship.booty[1] %></p>
</div><br>