<h1>Display your Pirate here</h1>
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %></h4>
  <h4>Height: <%= @pirate.height %></h4>
<br>

<h2>Display your first ship here</h2>
  <h3>Name: <%= @ships[0].name %></h3>
  <h4>Type: <%= @ships[0].type %></h4>
  <h4>Booty: <%= @ships[0].booty %></h4>

<h2>Display your second ship here</h2>
  <h3>Name: <%= @ships[1].name %></h3>
  <h4>Type: <%= @ships[1].type %></h4>
  <h4>Booty: <%= @ships[1].booty %></h4>
© 2019 GitHub, Inc.