<h1>Pirate</h1>


  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
  <h4>Height: <%= @pirate.height %> inches</h4>
<br>

<h1>Ship 1</h1>

    <p>Name: <%= @ships[0].name %></p><br>
    <p>Type: <%= @ships[0].type %></p><br>
    <p>Booty: <%= @ships[0].booty %></p>
<br>

<h1>Ship 2</h1>

    <p>Name: <%= @ships[1].name %></p><br>
    <p>Type: <%= @ships[1].type %></p><br>
    <p>Booty: <%= @ships[1].booty %></p>
<br>